<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="C1ApplicationTheme" value="Material" />
        <add key="C1ApplicationThemeSettings" value="ThemeFamily=1;PrimaryColor=255098000238;SecondaryColor=255211047047;" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>